
-- TABLE: hr_payroll_config
CREATE TABLE `hr_payroll_config` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pae_id` int(11) NOT NULL,
  `year` int(11) NOT NULL,
  `smlv` decimal(12,2) NOT NULL,
  `aux_transporte` decimal(12,2) NOT NULL,
  `status` enum('ACTIVO','INACTIVO') DEFAULT 'ACTIVO',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `pae_id` (`pae_id`,`year`),
  KEY `pae_id_2` (`pae_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- TABLE: hr_payroll_periods
CREATE TABLE `hr_payroll_periods` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pae_id` int(11) NOT NULL,
  `name` varchar(100) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `type` enum('MENSUAL','QUINCENAL') DEFAULT 'MENSUAL',
  `status` enum('ABIERTO','CERRADO') DEFAULT 'ABIERTO',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `pae_id` (`pae_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- TABLE: hr_payroll_concepts
CREATE TABLE `hr_payroll_concepts` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pae_id` int(11) NOT NULL,
  `name` varchar(100) NOT NULL,
  `type` enum('DEVENGADO','DEDUCCION') NOT NULL,
  `formula_type` enum('VALOR_FIJO','PORCENTAJE','SMLV_DEPENDIENTE') DEFAULT 'VALOR_FIJO',
  `value` decimal(12,4) DEFAULT 0.0000,
  `is_legal` tinyint(1) DEFAULT 0,
  `status` enum('ACTIVO','INACTIVO') DEFAULT 'ACTIVO',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `pae_id` (`pae_id`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- TABLE: hr_payroll_novelties
CREATE TABLE `hr_payroll_novelties` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pae_id` int(11) NOT NULL,
  `employee_id` int(11) NOT NULL,
  `period_id` int(11) NOT NULL,
  `concept_id` int(11) NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `pae_id` (`pae_id`),
  KEY `employee_id` (`employee_id`),
  KEY `period_id` (`period_id`),
  CONSTRAINT `hr_payroll_novelties_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `hr_employees` (`id`),
  CONSTRAINT `hr_payroll_novelties_ibfk_2` FOREIGN KEY (`period_id`) REFERENCES `hr_payroll_periods` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- TABLE: hr_payrolls
CREATE TABLE `hr_payrolls` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pae_id` int(11) NOT NULL,
  `period_id` int(11) NOT NULL,
  `employee_id` int(11) NOT NULL,
  `total_devengado` decimal(12,2) DEFAULT 0.00,
  `total_deduccion` decimal(12,2) DEFAULT 0.00,
  `total_neto` decimal(12,2) DEFAULT 0.00,
  `status` enum('PROCESADO','PAGADO','ANULADO') DEFAULT 'PROCESADO',
  `processed_at` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `pae_id` (`pae_id`),
  KEY `period_id` (`period_id`),
  KEY `employee_id` (`employee_id`),
  CONSTRAINT `hr_payrolls_ibfk_1` FOREIGN KEY (`period_id`) REFERENCES `hr_payroll_periods` (`id`),
  CONSTRAINT `hr_payrolls_ibfk_2` FOREIGN KEY (`employee_id`) REFERENCES `hr_employees` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- TABLE: hr_payroll_details
CREATE TABLE `hr_payroll_details` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `payroll_id` int(11) NOT NULL,
  `concept_id` int(11) DEFAULT NULL,
  `description` varchar(150) NOT NULL,
  `amount` decimal(12,2) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `payroll_id` (`payroll_id`),
  CONSTRAINT `hr_payroll_details_ibfk_1` FOREIGN KEY (`payroll_id`) REFERENCES `hr_payrolls` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- TABLE: recipe_items
CREATE TABLE `recipe_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `recipe_id` int(11) NOT NULL,
  `item_id` int(11) NOT NULL,
  `age_group` enum('PREESCOLAR','PRIMARIA_A','PRIMARIA_B','SECUNDARIA') NOT NULL,
  `quantity` decimal(10,3) NOT NULL,
  `preparation_method` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_item_recipe_group` (`recipe_id`,`item_id`,`age_group`),
  KEY `item_id` (`item_id`),
  CONSTRAINT `recipe_items_ibfk_1` FOREIGN KEY (`recipe_id`) REFERENCES `recipes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `recipe_items_ibfk_2` FOREIGN KEY (`item_id`) REFERENCES `items` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1838 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;

-- TABLE: recipe_nutrition
CREATE TABLE `recipe_nutrition` (
  `recipe_id` int(11) NOT NULL,
  `age_group` enum('PREESCOLAR','PRIMARIA_A','PRIMARIA_B','SECUNDARIA') NOT NULL,
  `total_calories` decimal(10,2) DEFAULT 0.00,
  `total_proteins` decimal(10,2) DEFAULT 0.00,
  `total_carbohydrates` decimal(10,2) DEFAULT 0.00,
  `total_fats` decimal(10,2) DEFAULT 0.00,
  PRIMARY KEY (`recipe_id`,`age_group`),
  CONSTRAINT `recipe_nutrition_ibfk_1` FOREIGN KEY (`recipe_id`) REFERENCES `recipes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
